.gitignore
.k8-istio-xml-workspace.code-workspace

# Module directory
/.terraform
/Slides
.terraform/

# Compiled files
*.tfstate
*.tfstate.backup
*.tfvars
../terraform/terraform.tfvars

/gensubnets
/data
/conf.d
/docker/check_xml_api/__pycache__

# Ansible
*.retry

# Other
comm.txt
k8s_com.txt
update-zone.json
k8-istio-xml-workspace.code-workspace
.gitignore
kops_edit_subnets.txt
documentation/docker.txt
docker/check_xml_api/upload.html
docker/check_xml_api/env_file
