.gitignore
.k8-istio-xml-workspace.code-workspace

# Module directory
/.terraform
.terraform/

# Compiled files
*.tfstate
*.tfstate.backup
*.tfvars
../terraform/terraform.tfvars

/gensubnets
/data

# Ansible
*.retry

# Other
comm.txt
k8s_com.txt
update-zone.json
k8-istio-xml-workspace.code-workspace
.gitignore
